<p id="notice"><%= notice %></p>

<h1>Pricings</h1>

<table>
  <thead>
    <tr>
      <th>Capacity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pricings.each do |pricing| %>
      <tr>
        <td><%= pricing.capacity %></td>
        <td><%= pricing.price %></td>
        <td><%= link_to 'Show', pricing %></td>
        <td><%= link_to 'Edit', edit_pricing_path(pricing) %></td>
        <td><%= link_to 'Destroy', pricing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pricing', new_pricing_path %>
