
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- 
  <div class="field">
    <%= form.label :end_time %>
    <%= form.number_field :end_time %>
  </div> -->


      <div class="mb-3">
        <label>Event Name</label>
        <%= form.text_field :title, autofocus: true, class:"form-control", placeholder:"Your Awesome Event" %>
      </div>

      <div class="mb-3">
          <label>Event Description</label>
          <%= form.text_field :description, autofocus: true, class:"form-control", placeholder:"What's your event all about?" %>
      </div>

      <div class="mb-3">
          <label>Event Host</label>
          <%= form.text_field :host_name, autofocus: true, class:"form-control", placeholder:"Host Company Name" %>
      </div>

      <div class="mb-3">
          <label>Cover Photo url</label>
          <%= form.text_field :cover_image, autofocus: true, class:"form-control", placeholder:"cute_puppies.jpg" %>
      </div>


      <div class="row">
          <div class="col-md-6 mb-3">
            <label>Event Colour</label>
            <%= form.text_field :color, autofocus: true, class:"form-control", placeholder:"Event Colour" %>
          </div>
          <div class="col-md-6 mb-3">
            <label>Preview</label> <br>
            <h2 class="btn btn-primary btn-lg btn-opacity">Your Event</h2>
          </div>
        </div>
  
      <div class="mb-3">
          <label>Event Colour</label>
          <%= form.text_field :color, autofocus: true, class:"form-control", placeholder:"Event Colour" %>
      </div>

      <div class="mb-3">
          <label>Event Location</label>
          <%= form.text_field :location, autofocus: true, class:"form-control", placeholder:"The Cool Building" %>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Start Time</label>
          <%= form.datetime_field :start_time, class:"form-control" %>
        </div>
        <div class="col-md-6 mb-3">
          <label>End Time</label>
          <%= form.datetime_field :end_time, class:"form-control" %>
        </div>
      </div>


      <div class="mb-3">
          <label>Capacity</label>
          <%= form.text_field :pricing_id, autofocus: true, class:"form-control", placeholder:"20 People" %>
      </div>

      <div class="mb-3">
          <label>Promotion</label>
          <%= form.text_field :promotion_id, autofocus: true, class:"form-control", placeholder:"Promotion" %>
      </div>


        
        <button class="btn btn-primary btn-lg btn-block" type="submit">Create Event</button>

        

    <% end %>