
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- 
  <div class="field">
    <%= form.label :end_time %>
    <%= form.number_field :end_time %>
  </div> -->


      <div class="mb-3">
        <label>Event Name</label>
        <%= form.text_field :title, autofocus: true, class:"form-control", placeholder:"Your Awesome Event" %>
      </div>

      <div class="mb-3">
          <label>Event Description</label>
          <%= form.text_field :description, autofocus: true, class:"form-control", placeholder:"What's your event all about?" %>
      </div>

      <div class="mb-3">
          <label>Event Host</label>
          <%= form.text_field :host_name, autofocus: true, class:"form-control", placeholder:"Host Company Name" %>
      </div>

      <!-- Profile Pic Preview -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



      <img id="imgp" src="#" alt="" class="big-image-cover"/>
      <br>
      <p style="border-radius: 2px; font-size: 14px;" >
          <%= form.label 'Upload Event Image:'%> <%= form.file_field :event_image, class:"btn btn-outline-primary btn-block", id:"imgInp" %>
        </p>
      <!-- Image Preview -->
      <script>
                function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
              $('#imgp').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#imgInp").change(function() {
          readURL(this);
        });
      </script>
  
      <div class="mb-3">
          <label>Event Colour</label><br>
        <label class="c-container"> &nbsp
          <input type="radio" checked="checked" name="event[color]" value="primary">
          <span class="checkmark blue"></span>
        </label>
        <label class="c-container">&nbsp
            <input type="radio" name="event[color]" value="info">
            <span class="checkmark info"></span>
          </label>
        <label class="c-container">&nbsp
          <input type="radio" name="event[color]" value="success" >
          <span class="checkmark success"></span>
        </label>
        <label class="c-container">&nbsp
          <input type="radio" name="event[color]" value="warning">
          <span class="checkmark warning"></span>
        </label>
        <label class="c-container">&nbsp
          <input type="radio" name="event[color]" value="danger">
          <span class="checkmark danger"></span>
        </label>
        <label class="c-container">&nbsp
            <input type="radio" name="event[color]" value="light">
            <span class="checkmark light"></span>
          </label>
        <label class="c-container">&nbsp
            <input type="radio" name="event[color]" value="dark">
            <span class="checkmark dark"></span>
          </label>
      </div>
        

      <div class="mb-3">
          <label>Event Location</label>
          <%= form.text_field :location, autofocus: true, class:"form-control", placeholder:"The Cool Building" %>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Start Time</label>
          <%= form.datetime_field :start_time, class:"form-control" %>
        </div>
        <div class="col-md-6 mb-3">
          <label>End Time</label>
          <%= form.datetime_field :end_time, class:"form-control" %>
        </div>
      </div>


      <div class="mb-3">
          <label>Capacity</label>
          <%= form.text_field :pricing_id, autofocus: true, class:"form-control", placeholder:"20 People" %>
      </div>

      <div class="mb-3">
          <label>Promotion</label>
          <%= form.text_field :promotion_id, autofocus: true, class:"form-control", placeholder:"Promotion" %>
      </div>


      <% :user_id == current_user.id %>

        
        <button class="btn btn-primary btn-lg btn-block" type="submit">Create Event</button>

        

    <% end %>