
<section class="text-center">
  <h1 style="color: #007bff">All Events</h1>

  
  <div class="mb-4" style="max-width: 80%; margin: auto;">
    <%= form_tag(events_path, method: :get) do %>
    <div class="input-group-append">
      <%= text_field_tag(:query, params[:query], class:'form-control', placeholder: 'Search for your next event' )%>
      <button id="button-addon5" type="submit" class="btn btn-primary" style="position: absolute; left: 78%"><i class="fa fa-search"></i></button>
    </div>
    <% end %>
  </div>


</section>

<div class="row-goodness">
  <% if @events.length != 0 %>
    <% @events.each do |event| %>
    <div class="d-flex justify-content-center" style="padding-top: 1rem; padding-bottom: 1rem;">
      <div class="card text-center" style="max-width: 1000px; position: relative;">
  
        <h3 style=" position: absolute; top: 25%;
        left: 50%; transform: translate(-50%, -50%);" class="btn btn-<%=event.color %> btn-lg btn-opacity">
          <%= event.title %></h3>

          <% if (event.users.include?(current_user)) %>
          <p class="btn btn-success"
          style="font-weight: 300; font-size: 14px; color: white; position: absolute; top: 25%;
          left: 50%; transform: translate(-50%, 180%);">
          Going <i class="fas fa-check"></i></p>
          <% elsif user_signed_in? %>
          <% if (current_user.owned_events.include?(event)) %>
            <p class="btn btn-primary"
            style="font-weight: 300; font-size: 14px; color: white; position: absolute; top: 25%;
            left: 50%; transform: translate(-50%, 180%);">
            Your Event <i class="fas fa-edit"></i></p>
            <% end %>
          <% end %>
  
          <% if event.top_image.attached?   %>

          <%= image_tag event.top_image, class: "card-img-top", style:"height: 28vh;"  %>
        
          <% elsif event.cover_image.nil? || event.cover_image.empty? %>
              
          <img
          class="card-img-top" style="height: 28vh;"
          src="https://res.cloudinary.com/djic27lvo/image/upload/v1573313894/photo-1542831371-29b0f74f9713_yqiuw4.jpg"
          alt="Card image cap"
          />

          <% else %>
              
              <img
            class="card-img-top" style="height: 28vh;"
            src="<%= event.cover_image %>"
            alt="Card image cap"
          />

          <% end %>
  
        <div class="card-body" >
  
          <p style="font-size: 12px;">
              <!-- Date converted from Unix -->
              <i class="far fa-calendar-alt"></i> 
              <%= Time.at(event.start_time).strftime('%a-%d-%b-%Y') %>
              &nbsp; &nbsp;
  
          <!-- Time converted from Unix -->
  
              <i class="far fa-clock"></i></i> 
              <%= Time.at(event.start_time).strftime('%I:%M %p') %>
              
          <!-- Location -->
              <br>
              <i class="fas fa-map-marker-alt"></i>
              <%= event.location %>
              &nbsp; &nbsp;

          <!-- Attending -->
            <i class="fas fa-users"></i>&nbsp;
            <%= event.users.count %>  / <%= event.capacity %> Attending
          
          </p>
          <!-- Description -->
          <div class="text-center over-fade" style="height: 10vh;">
          <p class="card-text "><%= event.description %></p>
          </div>
  
          <!-- Button to Full Event Page -->
          <%= button_to "View details", event_path(event), :method => "get", class: "btn btn-outline-primary" %>
  
        </div>
      </div>
    </div>
  
    <% end %>
  
  
  <% else %>
  <div class="text-center" style="margin:auto;">
  <h4 style="color: #007bff">
    Sorry there's nothing here... <i class="far fa-grimace"></i>
  </h4>
  </div>
  <%end%>

</div>


