<p id="notice"><%= notice %></p>

<section class="text-center">
  <h1>Events</h1>

  <div class="input-group search">
    <%= form_tag(events_path, method: :get) do %>
    <%= text_field_tag(:query, params[:query], class:'form-control', placeholder: 'Search for your next event' )%> 


      <div class="input-group-append">
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="fa fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<div class="row-goodness">
  <% if @events.length != 0 %>
    <% @events.each do |event| %>
    <div class="d-flex justify-content-center" style="padding-top: 1rem; padding-bottom: 1rem;">
      <div class="card text-center" style="max-width: 24vw; position: relative;">
  
        <h3 style=" position: absolute; top: 25%;
        left: 50%; transform: translate(-50%, -50%);" class="btn btn-<%=event.color %> btn-lg btn-opacity">
          <%= event.title %></h3>

          <% if (event.users.include?(current_user)) %>
          <p class="btn btn-success"
          style="font-weight: 300; font-size: 14px; color: white; position: absolute; top: 25%;
          left: 50%; transform: translate(-50%, 180%);">
          Going <i class="fas fa-check"></i></p>
          <% end %>
  
        <img
          class="card-img-top" style="height: 28vh;"
          src="<%= event.cover_image %>"
          alt="Card image cap"
        />
  
        <div class="card-body" >
  
          <p style="font-size: 12px;">
              <!-- Date converted from Unix -->
              <i class="far fa-calendar-alt"></i> 
              <%= Time.at(event.start_time).strftime('%a-%d-%b-%Y') %>
              &nbsp; &nbsp;
  
          <!-- Time converted from Unix -->
  
              <i class="far fa-clock"></i></i> 
              <%= Time.at(event.start_time).strftime('%I:%M %p') %>
              
          <!-- Location -->
              <br>
              <i class="fas fa-map-marker-alt"></i>
              <%= event.location %>
          </p>
          <!-- Description -->
          <div class="text-center over-fade" style="height: 10vh;">
          <p class="card-text "><%= event.description %></p>
          </div>
  
          <!-- Button to Full Event Page -->
          <%= button_to "View details", event_path(event), :method => "get", class: "btn btn-outline-primary" %>
  
        </div>
      </div>
    </div>
    <% end %>
  
  
  <% else %>
<h4>
  BOOMER TIME
</h4>
  <%end%>

</div>


