<p id="notice"><%= notice %></p>


<div class="text-center jumbotron image-bg " style="background: url(<%= @event.cover_image %>)
  center center no-repeat;">
    <div class="eventimage-gradient"
    ></div>

    
    <h3
      class="btn btn-<%=@event.color %>"
      style="font-weight: bold; font-size: 10vw; color: white; position: relative;"
    >
    <%= @event.title %>
    </h3>
    <p

    class="btn btn-<%=@event.color %>"
    style="font-weight: 300; font-size: 20px; color: white;"
    >
      Hosted by:
      <%= @event.host_name %></p>
    <br />
    

</div>
<div class="card text-center">
  <div class="card-body" >

    <p style="font-size: 14px;">
        <!-- Date converted from Unix -->

      <p class="btn btn-outline-dark">
        <i class="far fa-calendar-alt"></i> &nbsp;
        <%= Time.at(@event.start_time).strftime('%a-%d') %>
        &nbsp; to &nbsp;
        <%= Time.at(@event.end_time).strftime('%a-%d-%b-%Y') %>
        &nbsp; &nbsp;
      </p>

    <!-- Time converted from Unix -->

    <p class="btn btn-outline-dark">
        <i class="far fa-clock"></i></i> &nbsp;
        <%= Time.at(@event.start_time).strftime('%I:%M %p') %>
        &nbsp; to &nbsp;
        <%= Time.at(@event.start_time).strftime('%I:%M %p') %>
        &nbsp; &nbsp;
    </p>

    <!-- Location -->
    <p class="btn btn-outline-dark">
        <i class="fas fa-map-marker-alt"></i>&nbsp;
        <%= @event.location %>
      </p>
    </p>


    <!-- Attendees -->
     <%= @event.pricing.price %>  /     <%= @event.capacity %>


    <!-- Description -->
    <p class="card-text" style="font-size: 18px;"><%= @event.description %></p>
    

    <br>
    <% if current_user.id == @event.user_id %>

      <div>
      <p> Current Event Cost: $<%= @event.pricing.price %> </p>
      <p> Current Event Promotion Cost:  $<%= @event.promotion.price %> </p>
      <p>  </p>
      <%= link_to 'Edit Your Event', edit_event_path(@event) %>
      </div>


      <% else %>



      <p> This aint yours</p>

      <% end %>

    <br>
    <%= link_to 'Back', @events_path, class: "btn btn-outline-primary" %>
</div>
</div>

    <!-- Button to Full @event Page -->
    <%= button_to "View details", event_path(@event), :method => "get", class: "btn btn-outline-primary" %>






