
<div class="text-center jumbotron image-bg " style="background: url(<%= @event.cover_image %>)
  center center">
    <div class="eventimage-gradient"
    ></div>

    
    <h3
      class="btn btn-<%=@event.color %>"
      style="font-weight: bold; font-size: 50px; color: white; position: relative;"
    >
    <%= @event.title %>
    </h3>
    <br>

    <p class="btn btn-<%=@event.color %>"
    style="font-weight: 300; font-size: 20px; color: white;"
    >
      Hosted by:
      <%= @event.host_name %></p>
    <br />
    
    <% if (@event.users.include?(current_user)) %>
    <p class="btn btn-success"
        style="font-weight: 300; font-size: 20px; color: white;"
        >
          Going <i class="fas fa-check"></i></p>
    <% end %>

</div>
<div class="card text-center">
  <div class="card-body" >

    <p style="font-size: 14px;">
        <!-- Date converted from Unix -->

      <p class="btn btn-outline-dark">
        <i class="far fa-calendar-alt"></i> &nbsp;
        <%= Time.at(@event.start_time).strftime('%a-%d') %>
        &nbsp; to &nbsp;
        <%= Time.at(@event.end_time).strftime('%a-%d-%b-%Y') %>
        &nbsp; &nbsp;
      </p>

    <!-- Time converted from Unix -->

    <p class="btn btn-outline-dark">
        <i class="far fa-clock"></i></i> &nbsp;
        <%= Time.at(@event.start_time).strftime('%I:%M %p') %>
        &nbsp; to &nbsp;
        <%= Time.at(@event.start_time).strftime('%I:%M %p') %>
        &nbsp; &nbsp;
    </p>

    <!-- Location -->
    <p class="btn btn-outline-dark">
        <i class="fas fa-map-marker-alt"></i>&nbsp;
        <%= @event.location %>
      </p>
   

    <!-- Attendees -->
    <p class="btn btn-outline-dark">
        <i class="fas fa-users"></i>&nbsp;
        <%= @event.users.count %>  / <%= @event.capacity %> Attending
      </p>
    </p>
     </p>


    <!-- Description -->
    <p class="card-text" style="font-size: 18px;"><%= @event.description %></p>
    

    <br>
    <% if current_user.id == @event.user_id %>

      <div>
      <p> Current Event Cost: $<%= @event.pricing.price %> </p>
      <p> Current Event Promotion Cost:  $<%= @event.promotion.price %> </p>
      <p>  </p>
      <%= link_to 'Edit Your Event', edit_event_path(@event) %>
      </div>

    <% elsif (@event.users.include?(current_user)) %>
      

      <p class="psmall"> You're already going! </p>
      <%= button_to "  Leave  ", join_event_path(@event), :method => "post", class: "btn btn-danger btn-lrg", style: "font-size: 36px;" %>
    

    <% elsif (@event.capacity) <= (@event.users.count) %>

        <p class="psmall" style="color:red;"><%= (@event.capacity) - (@event.users.count) %> The Event is Full!</p>
        <button type="button" class="btn btn-lg btn-danger" style="font-size: 36px;" disabled>  &nbsp&nbsp&nbsp&nbsp  Full  &nbsp&nbsp&nbsp&nbsp  </button>
        
    <% else %>
          
        <p class="psmall"><%= (@event.capacity) - (@event.users.count) %> Spots Left!</p>
        <%= button_to "  Attend  ", join_event_path(@event), :method => "post", class: "btn btn-primary btn-lrg", style: "font-size: 36px;" %>
    <% end %>

    <br>
    <%= link_to 'Back', @events_path, class: "btn btn-outline-primary" %>
</div>
</div>








