<section class=" text-center">
  <h1 style="color: #007bff">Your Events</h1>

  <% if current_user.owned_events.length == 0 %>

  <section class="form-auth text-center">
    <div
      class="card border-primary mb-3"
      style="max-width: 28rem; margin: auto;"
    >
      <div class="card-body text-primary text-center">
        <h1>
          Looks like you don't have any.. <i class="far fa-frown-open"></i>
        </h1>
        <div>
          <br />
          <div class="card-footer bg-transparent border-primary"></div>
          <p style="font-size: 14px;">
            Why don't you have a look at all the amazing events happening around
            you
          </p>
          <%= link_to "View Events", '/events', class: "btn btn-primary" %>
          <br>
          <br>
          <p style="font-size: 14px">
            Don't want to follow the crowd? Create your own event!
          </p>
          <%= link_to "Create an Event", '/events/new', class: "btn
          btn-primary" %>
        </div>
      </div>
    </div>
  </section>

  <% else %> 
  
  <div class="row-goodness">
        <% current_user.owned_events.each do |event| %>
        <div class="d-flex justify-content-center" style="padding-top: 1rem; padding-bottom: 1rem;">
          <div class="card text-center" style="max-width: 24vw; position: relative;">
      
            <h3 style=" position: absolute; top: 25%;
            left: 50%; transform: translate(-50%, -50%);" class="btn btn-<%=event.color %> btn-lg btn-opacity">
              <%= event.title %></h3>
              <% if (event.users.include?(current_user)) %>
          <p class="btn btn-success"
          style="font-weight: 300; font-size: 14px; color: white; position: absolute; top: 25%;
          left: 50%; transform: translate(-50%, 180%);">
          Going <i class="fas fa-check"></i></p>
          <% elsif (current_user.owned_events.include?(event)) %>
          <p class="btn btn-primary"
          style="font-weight: 300; font-size: 14px; color: white; position: absolute; top: 25%;
          left: 50%; transform: translate(-50%, 180%);">
          Your Event <i class="fas fa-edit"></i></p>
          <% end %>
      
              <% if event.top_image.attached?   %>

              <%= image_tag event.top_image, class: "card-img-top", style:"height: 28vh;"  %>
            
              <% elsif event.cover_image.nil? || event.cover_image.empty? %>
                  
              <img
              class="card-img-top" style="height: 28vh;"
              src="https://res.cloudinary.com/djic27lvo/image/upload/v1573313894/photo-1542831371-29b0f74f9713_yqiuw4.jpg"
              alt="Card image cap"
              />

              <% else %>
                  
                  <img
                class="card-img-top" style="height: 28vh;"
                src="<%= event.cover_image %>"
                alt="Card image cap"
              />

              
                  
              <% end %>
      
            <div class="card-body" >
      
              <p style="font-size: 12px;">
                  <!-- Date converted from Unix -->
                  <i class="far fa-calendar-alt"></i> 
                  <%= Time.at(event.start_time).strftime('%a-%d-%b-%Y') %>
                  &nbsp; &nbsp;
      
              <!-- Time converted from Unix -->
      
                  <i class="far fa-clock"></i></i> 
                  <%= Time.at(event.start_time).strftime('%I:%M %p') %>
                  
              <!-- Location -->
                  <br>
                  <i class="fas fa-map-marker-alt"></i>
                  <%= event.location %>
              </p>
              <!-- Description -->
              <div class="text-center over-fade" style="height: 10vh;">
              <p class="card-text "><%= event.description %></p>
              </div>
      
              <!-- Button to Full Event Page -->
              <%= button_to "View details", event_path(event), :method => "get", class: "btn btn-outline-primary" %>
      
            </div>
          </div>
        </div>
    <% end %>
  
  <% end %>
</section>
