
<section class="form-auth text-center">

    <div class="card border-primary mb-3" style="max-width: 28rem; margin: auto;">
        <div class="card-body text-primary text-center">

  <h1>Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!-- Errors Spot -->
    <div class="s_errors">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
<!-- Fields -->
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, placeholder:"Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true, placeholder:"Password" %>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <br>

  <% end %>

  <div class="card-footer bg-transparent border-primary">
  <%= render "devise/shared/links" %>
  </div>
        </div>
</div>
</section>


