<section class="form-auth text-center">
  <div class="card border-primary mb-3" style="max-width: 50rem; margin: auto;">
    <div class="card-body text-primary text-center">
      <%= image_tag current_user.profile_image, class: 'rounded-circle big-image'%>
      <br />
      <br />
      <h4>Want to edit your Account <%= current_user.first_name %> ?</h4>
      <br />

      <div class="card-footer bg-transparent border-primary"></div>

      <h6>Change your profile picture:</h6>

      <%= form_for(resource, as: resource_name, url:
      registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="s_errors">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <p>
        <%= f.label :profile_image %>
        <%= f.file_field :profile_image %>
      </p>

      <%= f.submit "Clicky" , class:"btn btn-lg btn-primary btn-block" %>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Update
      </button>
      <br />

      <% end %>
      <div class="card-footer bg-transparent border-primary"></div>
      <h6>Change your account email:</h6>

      <%= form_for(resource, as: resource_name, url:
      registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:
        "form-control", placeholder:"Email" %>
      </div>

      <% end %>

      <!-- Email confirmation? -->
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
      <% end %>

      <br />

      <%= form_for(resource, as: resource_name, url:
      registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="card-footer bg-transparent border-primary"></div>
      <h6>Change Password:</h6>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class:
        "form-control", placeholder:"Password (6 characters minimum)" %>
      </div>
      <P>(leave blank if you don't want to change it)</P>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete:
        "new-password", class: "form-control", placeholder:"Password
        Confirmation" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete:
        "current-password", class: "form-control", placeholder:"Your Current
        Password" %>
      </div>
      <P>(we need your current password to confirm your changes)</P>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Update
      </button>
      <% end %>

      <br />
      <div class="card-footer bg-transparent border-primary"></div>

      <h6>Delete your account:</h6>

      <%= button_to "Delete", registration_path(resource_name), data: { confirm:
      "Are you sure? You cannot undo this." }, method: :delete, class: "btn
      btn-lg btn btn-outline-danger btn-block" %>

      <br />
      <%= link_to "Back", :back %>
    </div>
  </div>
</section>
