<section class="form-auth text-center">
    <div class="card border-primary mb-3" style="max-width: 28rem; margin: auto;">
        <div class="card-body text-primary text-center">

    <h1>Sign up</h1>
      
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="s_errors">
      <%= render "devise/shared/error_messages", resource: resource %>
      </div>


      <!-- Profile Pic Preview -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


      <img id="blah" src="#" alt="" class="rounded-circle big-image"/>
    
        <%= f.file_field :profile_image, id:"imgInp", class:"btn btn-block", style: "position: fixed; opacity:0%;" %>
        <button class="btn btn-outline-primary btn-block"> Profile picture upload &nbsp;<i class="fas fa-file-upload"></i> </button>


      
      <!-- Image Preview -->
      <script>
                function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#imgInp").change(function() {
          readURL(this);
        });
      </script>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, class: "form-control", required: true, placeholder:"First name" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autofocus: true, class: "form-control", required: true, placeholder:"Last name" %>
      </div>

      <div class="field">
        <%= f.date_field :dob, autofocus: true, class: "form-control", required: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true, placeholder:"Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true, placeholder:"Password (6 characters minimum)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true, placeholder: "Password Confirmation" %>
      </div>

      <P>(Password must contain 8-20 characters and include: 1 uppercase, 1 lowercase and 1 number)</P>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <br>
    <% end %>

    <div class="card-footer bg-transparent border-primary">

    <%= render "devise/shared/links" %>

  </div>

        </p>
        </p>


</section>