
<!-- Sign Up Form made pretttttty -->

<section class="form-auth text-center">
    <form class="form-signin">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">Please Sign up</h1>
    
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
      <%= f.text_field :firstname, autofocus: true, class: "form-control", 
      placeholder:"First name", required: true %>
      </div>
  
      <div class="field">
      <%= f.text_field :lastname, class: "form-control", 
      placeholder:"Last name", required: true %>
      </div>
  
      <div class="field">
      <%= f.email_field :email, class: "form-control", id:"inputEmail", 
      placeholder:"Email address", required: true %>
      </div>
  
      <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password 6 characters minimum", 
      class: "form-control", required: true %>
      </div>
  
      <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Password Confirmation", 
      class: "form-control", required: true %>
      </div>
  
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign Up</button>
    <% end %>
    <br>
    
    <%= render "devise/shared/links" %>

  </form>
  </section>


