<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">

    <%= link_to root_path do %>
    <%= image_tag("logo.png", alt: "Code Meetr Logo", height: "30", width: "140", class: "navbar-brand d-flex align-items-center") %>
    <% end %>

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "All Events", "/events", class: "nav-link" %>
      </li>
    </ul>
        
    <% if user_signed_in? %>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "My Events", '/my_events' , class: "nav-link" %>
              </li>
            <li class="nav-item active">
              <%= link_to "Create Event", '/events/new' , class: "nav-link" %>
            </li>
          </ul>
    </div>

    <ul class="nav navbar-nav justify-content-end">
            <div class="dropdown">
                    <button class="btn btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            
                      <% if current_user.profile_image.attached? %>
                      
                      <%= image_tag current_user.profile_image, class: 'rounded-circle nav-image' %>

                      &nbsp; <%= current_user.first_name %> <%= current_user.last_name %>

                      <% else %>
                          
                      <%= cl_image_tag("https://res.cloudinary.com/djic27lvo/image/upload/v1573272912/User_icons/Default_Icon_-_Blue_d8bk4h.png", :cloud_name => 'djic27lvo', class: 'rounded-circle nav-image', :type=>"fetch") %>
                            

                      &nbsp; <%= current_user.first_name %> <%= current_user.last_name %>

                      <% end %>
                            
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, method: "delete", class:"dropdown-item" %>
                    </div>
                  </div>
    </ul>
    <% else %>
    <ul class="nav navbar-nav justify-content-end">
        <li class="nav-item active">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
    </ul>
    <% end %>
    </div>
  </nav>
