<!DOCTYPE html>
<html>
  <head>
    <title>CodeMeetr</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/djic27lvo/image/upload/v1573107448/apple-touch-icon_fgsw5p.png">

    <!-- Primary Meta Tags -->
    <title>< CodeMeetr /> </title>
    <meta name="title" content="< CodeMeetr /> ">
    <meta name="description" content="The place to find all things code and tech. Hackathons, Meetups or even coffee.. Meet people just like you, or create an event to find people who love what you do.
    All of this and more at CodeMeetr.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="< CodeMeetr /> ">
    <meta property="og:description" content="The place to find all things code and tech. Hackathons, Meetups or even coffee.. Meet people just like you, or create an event to find people who love what you do.
    All of this and more at CodeMeetr.">
    <meta property="og:image" content="https://i.ibb.co/k0N5jy1/Codemeetr-link.jpg"

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="< CodeMeetr /> ">
    <meta property="twitter:description" content="The place to find all things code and tech. Hackathons, Meetups or even coffee.. Meet people just like you, or create an event to find people who love what you do.
    All of this and more at CodeMeetr.">
    <meta property="twitter:image" content="https://i.ibb.co/k0N5jy1/Codemeetr-link.jpg" 
    
    <meta charset="UTF-8">
    <meta name="description" content="Meet up with fellow coders">
    <meta name="keywords" content="Meetup, Event, Hackathon, Code, Coding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap Goodies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e66f438cf5.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">

    <%= render 'layouts/messages', class: 'better_errors' %>

    <%= yield %>

    <%= render "layouts/footer" %>

    </div>

    <!-- Booty Strap Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
